/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 2em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: titleFont;
    /*src: url("/fonts/Lobster_1.3.otf");*/
    /*src: url("/fonts/Coves-Typeface/Coves Bold.otf");*/
    /*src: url("/fonts/moon/Moon2.0-Regular.otf");*/
    src: url("/fonts/century-gothic/CenturyGothic.ttf");
}

@font-face {
    font-family: headingFont;
    /*src: url("/fonts/sofia.otf");*/
    src: url("/fonts/Coves-Typeface/Coves Bold.otf");
}

@font-face {
    font-family: normalFont;
    src: url("/fonts/century-gothic/CenturyGothic.ttf");
}

@font-face {
    font-family: boldFont;
    src: url("/fonts/century-gothic/GOTHICB.ttf");
}

body {
    /*background-image: url("/img/bck_main_06.jpg");*/
    /*background-color: #f0f0f0;*/
    background-color: #192a56;
    font-family: normalFont;
}

p {
    font-size: 1.1em;
}

.main-page {
    background-color: #ffffff;
    padding: 0;
    font-size: 1.2em;
    /*box-shadow: 3px 3px 10px #585858;*/
}

h1, h2, h3, h4 {
    font-weight: 600;
}

.intro {
    font-weight: bold;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

/***** Header *****/

.page-header > .lang-switching {
    display: inline;
    position: absolute;
    top: 0;
}

.page-header > .lang-switching > .btn-link {
    margin: 0;
    padding-right: 0;
}

.page-header img {
    width: 25px;
}

/* Cover */
.cover-picture {
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 20px 20px 20px 20px;
    background-image: url("/img/cover-03.jpg");
    background-size: 100% 100%;
}

#my-portrait {
    border-radius: 180px;
    width: 15em;
    height: 15em;
    box-shadow: 4px 4px 10px #212121;
}

#my-portrait:hover {
    cursor: pointer;
    /*transition-property: transform;
    transition-duration: 1.5s;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
}

.cover-picture > .my-name {
    display: block;
    font-size: 5em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: titleFont;
    font-weight: bold;
}

/* Nav bar */
.navbar {
    border-radius: 0;
}

.nav {
    padding-left: 2em;
}

.page-header {
    margin-top: 0;
}

.my-navbar-header {
    background-image: url("/img/nav-banner.png");
    background-size: 100% 100%;
    text-align: center;
    display: inline;
    padding: 5px 15px 35px 15px;
    float: left;
    position: absolute;
    top: -1em;
    left: 2em;
}

.my-navbar-header > a {
    font-family: titleFont;
    font-size: 1.7em;
    margin: 0;
    padding: 0;
    color: #f2f2f2;
}

.my-navbar-header > a:hover {
    text-decoration: none;
    color: #FFFCBA;
}

.my-navbar-header > a:visited {
    text-decoration: none;
}

.my-navbar-header + ul {
    position: relative;
    left: 150px;
}

/* ==================
    Body 
    ================= */
.main-content {
    padding: 30px 60px 15px 60px;
    margin: 0px 0px 30px 0px;
}

h2.welcome-title {
    font-family: headingFont;
    /*margin-left: 1.2em;*/
    margin-bottom: 1.2em;
    /*font-style: italic;*/
}

h2.welcome-title > i {
    color: #9a9a9a;
}

/* ==================
    Education
    ================= */
div.education-info-wrapper {
    margin-top: 40px;
    margin-bottom: 60px;
    /*display: flex;*/
}

div.education-logo {
    /*flex: 1;*/
    text-align: center;
    width: 25%;
    margin-top: 10px;
}

div.education-logo > img {
    width: 60%;
}

div.education-info {
    /*flex: 1;*/
    /*border-left: 10px dotted #A4A4A4;*/
    border-left: 2px dotted #A4A4A4;
    padding-left: 25px;
}

.edu {
    text-align: center;
}

.edu-intro {
    /*font-weight: bold;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;*/
}

.edu-row > td {
    padding-top: 25px;
    padding-bottom: 25px;
}

.edu-meta {
    width: 30%;
}

.edu-item-location {
    margin-top: 0.9em;
    font-size: 1.2em;
    font-style: italic;
    color: #7e7e7e;
}

.edu-content {
    width: 60%;
    text-align: justify;
}

.edu-logo-div {
    text-align: center;
}

img.edu-logo {
    margin-right: 20px;
}

/* ==================
    Projects
    ================= */
div.project-item:hover {
    /*background-color: #dff0d8;*/
    background-color: #E6EBFF;
    cursor: pointer;
}

.project-item {
    padding: 15px;
}

.project-title {
    /*line-height: 1.3em;*/
    font-weight: 900;
    font-family: boldFont;
}

.project-location {
    font-size: 1.5em;
}

.project-time {
    font-size: 1.2em;
    font-style: italic;
    color: #7e7e7e;
}

.label-project {
    background-color: #E1E1E1;
    color: #000000;
    border-radius: 1em;
    font-size: 0.8em;
}

/* ==================
    Languages
    ================= */
div.lang-info {
  width: 80%;
  margin: 1.5em auto;
}

div.lang-info-flag > img {
    text-align: center;
    width: 8em;
    height: 8em;
}

/* ==================
    Contact
    ================= */
.contact-detail {
    width: 50%;
    margin: 0 auto;
}


/* ==================
    Footer
    ================= */

footer {
    padding: 15px 30px 7px 30px;
    font-size: 0.9em;
    color: #dfdfdf;
    background-color: #222222;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
