<!-- ACTIVITIES -->

<div class="main" ng-controller="ActivitiesController">
	<h2 class="welcome-title">Stuffs that interested me</h2>

	<p><span class="glyphicon glyphicon-star"></span> I spend free time <span class="important">learning foreign languages</span>. Not just to be able to read more books in their original language, but it feels like learning a new culture altogether :-) I've started learning Spanish for quite some time. Not yet any big improvement, but I'm still trying.</p>

	<p><span class="glyphicon glyphicon-star"></span> I used to like <span class="important">web programming</span>. I built this whole site from scratch, not taking any template anywhere. I've been procrastinating quite a bit so yeah the site should've been done long time ago, but anyway here we are ;-)</p>


</div>