<!-- EDUCATION -->

<div class="main edu" ng-controller="EducationController">

	<div class="edu-intro intro">
		<p>School and learning are fun! Tests are not so much enjoyable (we've all been there). But anyway, below are diploma I have obtained. O all the stress one has been through...</p>
	</div>

	<table>
		<tbody>

			<!-- DATA & KNOWLEDGE (TELECOM) -->
			<tr class="edu-row">
				<td class="edu-meta">
					<div>
						<h1 class="edu-item-year">2018 - 2019</h1>
						<h2 class="edu-item-school">Télécom Paris</h2>
						<h3 class="edu-item-title">
							<a href="https://www.universite-paris-saclay.fr/en/education/master/m2-data-knowledge-d-k#presentation-m2" target="_blank">
								Master 2 | DATA & KNOWLEDGE
							</a>
						</h3>
						<h4 class="edu-item-location">PARIS, France</h4>
					</div>
				</td>
				<td class="edu-content">
					<div>
						<p class="edu-item-content">
							<p>
								The Data & Knowledge program is a second year master program in computer science. It is concerned with:
								<ul>
									<li>Knowledge & Semantics: knowledge bases, NLP, information extraction</li>
									<li>Machine learning + Deep learning + Recommendation system (factorization-based)</li>
									<li>Databases: NoSQL (Neo4J, Pig, Redis), big data frameword (Hadoop), streaming applications</li>
									<li>Web data management</li>
								</ul>
							<p>The curriculum brings together a variety of subjects from the fields of <span class="important">data management, knowledge management, knowledge engineering, machine learning, and data mining</span>. Topics include system design and architecture, storage, indexing and optimization, data analytics, knowledge representation and reasoning, semantic interoperability, and data mining, all with a special focus on processing very large amounts of data.</p>
						</p>
						<div class="edu-logo-div">
							<img class="edu-logo" src="/img/logo-telecom.jpg" width="60">
							<img class="edu-logo" src="/img/logo-saclay.jpg" width="100">	
						</div>
					</div>
				</td>
			</tr>

			<!-- DATA SCIENCE (ECOLE POLYTECHNIQUE) -->
			<tr class="edu-row">
				<td class="edu-meta">
					<div>
						<h1 class="edu-item-year">2017 - 2018</h1>
						<h2 class="edu-item-school">École Polytechnique</h2>
						<h3 class="edu-item-title">
							<a href="https://www.universite-paris-saclay.fr/en/education/master/m1-jacques-herbrand-polytechnique#presentation-m1" target="_blank">
								Master 1 | DATA SCIENCE
							</a>
						</h3>	
						<h4 class="edu-item-location">PALAISEAU, France</h4>
					</div>
				</td>
				<td class="edu-content">
					<div>
						<p class="edu-item-content">
							<p>The Jacques Herbrand Masters programmes are elite postgraduate programmes in Computer Science at University Paris-Saclay, proposed by Ecole Polytechnique, ENS Cachan and Université Paris-Sud. One of the specificities of the Jacques Herbrand Masters is to devote a significant part of their programmes to <span class="important">research</span>, whether as a preparation to a career in academia or as the source of industrial innovation.</p>
							<p>The Data Science branch equips the students with a solid background necessary for advanced M2 studies in the area of AI and Bigdata Management with a large range of real world applications. The courses include:
							<ul>
								<li>Machine learning & Text mining</li>
								<li>Artificial intelligence: NLP, reinforcement learning, deep learning</li>
								<li>Math (regression, statisticd)</li>
								<li>Advanced database management</li>
								<li>Big data</li>
							</ul>
							</p>
						</p>
						<div class="edu-logo-div">
							<img class="edu-logo" src="/img/logo-x.jpg" width="150">
							<img class="edu-logo" src="/img/logo-saclay.jpg" width="100">
						</div>
					</div>
				</td>
			</tr>

			<!-- COMPUTER SCIENCE (L3) -->
			<tr class="edu-row">
				<td class="edu-meta">
					<div>
						<h1 class="edu-item-year">2015 - 2016</h1>
						<h2 class="edu-item-school">Univeristy of Pierre and Marie Curie</h2>
						<h3 class="edu-item-title">Bachelor | COMPUTER SCIENCE</h3>
						<h4 class="edu-item-location">HO CHI MINH, Vietnam</h4>
					</div>
				</td>
				<td class="edu-content">
					<div>
						<p class="edu-item-content">
							<p>This year was rather focused on the <span class="important">theory of Computer Science</span>. It complements the technical skills I have acquired after two first years of the DUT.</p>
							The topics include:
							<ul>
								<li>Programming: object-oriented (Java), client-serveur architecture (PHP)</li>
								<li>Algorithmic</li>
								<li>Compiler</li>
								<li>Operating systems</li>
								<li>Network engineering</li>
								<li>Graph theory</li>
							</ul>
							<p>This program was the collaboration between University of Pierre and Marie Curie (France) and French University Pole (Vietnam). The goal was to let students in Vietnam access to high-quality undergraduate programs of France while staying in Vietnam. The diploma are delivered by University of Pierre and Marie Curie.</p>
						</p>
						<div class="edu-logo-div">
							<img class="edu-logo" src="/img/logo_upmc.png" width="150">
							<!-- <img class="edu-logo" src="/img/logo-bordeaux.PNG" width="150"> -->
						</div>
					</div>
				</td>
			</tr>

			<!-- COMPUTER SCIENCE (L1 + L2) -->
			<tr class="edu-row">
				<td class="edu-meta">
					<div>
						<h1 class="edu-item-year">2013 - 2015</h1>
						<h2 class="edu-item-school">Univeristy of Bordeaux</h2>
						<h3 class="edu-item-title">Diplome Universitaire de Technology (DUT)</h3>
						<h4 class="edu-item-location">HO CHI MINH, Vietnam</h4>
					</div>
				</td>
				<td class="edu-content">
					<div>
						<p class="edu-item-content">
							The DUT is equivalent to a technical degree. That being said, I was <span class="important">mostly trained to do programming</span> by realizing practical projects in software/web application development.
							<p>
								The topics include:
								<ul>
									<li>Programming: object-oriented (Java, C++, C#), client-serveur architecture (PHP, web technologies), C, bash scripts</li>
									<li>Databases: SQL (Oracle)</li>
									<li>Network engineering</li>
									<li>Math: linear algebra, calculus, statistics</li>
								</ul>
							</p>
							<p>This program was the collaboration between University of Bordeaux (France) and French University Pole (Vietnam). The goal was to let students in Vietnam access to high-quality undergraduate programs of France while staying in Vietnam. The diploma are delivered by University of Bordeaux.</p>
						</p>
						<div class="edu-logo-div">
							<!-- <img class="edu-logo" src="/img/logo_upmc.png" width="150"> -->
							<img class="edu-logo" src="/img/logo-bordeaux.PNG" width="150">
						</div>
					</div>
				</td>
			</tr>

			<!-- HIGH SCHOOL (LE HONG PHONG) -->
			<tr class="edu-row">
				<td class="edu-meta">
					<div>
						<h1 class="edu-item-year">2010 - 2013</h1>
						<h2 class="edu-item-school">Le Hong Phong high school</h2>
						<h3 class="edu-item-title">Natural science-focused</h3>
						<h4 class="edu-item-location">HO CHI MINH, Vietnam</h4>
					</div>
				</td>
				<td class="edu-content">
					<div>
						<p class="edu-item-content">My high-school study mainly focused on natural science courses, such as Math, Physics, Chemistry.</p>
						<div class="edu-logo-div">
							<img class="edu-logo" src="/img/logo_highschool_2.jpg" width="150">
						</div>
					</div>
				</td>
			</tr>

		</tbody>
	</table>

	<!-- <div class="edu-item well">
		<div class="edu-meta">
			<img class="edu-logo" src="/img/logo-telecom.jpg" />
			<h1 class="edu-item-year">2018 - 2019</h1>
			<h2 class="edu-item-school">Télécom ParisTech</h2>
			<h3 class="edu-item-title">Master 2 | Data & Knowledge</h3>	
		</div>
		<div class="edu-content">
			<p class="edu-item-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie ipsum dui, vitae scelerisque risus viverra ut. Nunc convallis justo vitae nunc condimentum ultrices et sit amet mi. Sed non fringilla erat. Morbi quis pharetra orci. Nulla vel nibh non nunc porta gravida nec sed ligula. Morbi mattis dui erat, vel pulvinar nisl pretium luctus. Duis eleifend ultrices arcu, eu tincidunt lectus aliquet nec. Sed erat nisl, sodales non justo sed, tempus feugiat orci. Duis molestie, eros et finibus vehicula, diam lorem sagittis ipsum, sed ultrices leo justo mattis purus. Mauris tempor libero sapien. Morbi facilisis lobortis odio, vel fermentum orci fermentum nec. Praesent pretium justo ac semper ultricies. Vivamus accumsan dui libero, sed scelerisque tortor tincidunt in.</p>
		</div>
	</div> -->
<!-- 
	<div class="edu-item well">
		<img class="edu-logo" src="/img/logo-telecom.jpg" />
		<h1 class="edu-item-year">2018 - 2019</h1>
		<h2 class="edu-item-school">Télécom ParisTech</h2>
		<h3 class="edu-item-title">Master 2 | Data & Knowledge</h3>
		<p class="edu-item-content">Content of the master program</p>
	</div>	 -->

</div>