<!-- EDUCATION -->

<div class="main" ng-controller="EducationController">
	<h2 class="welcome-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> My study,</h2>

	<!-- MASTER NETWORK AT PUF -->
	<div class="row education-info-wrapper">
		<div class="col-md-3 education-logo">
			<img src="/img/logo_upmc.png">
			<img src="/img/logo_bordeaux.svg">
		</div>
		<div class="col-md-9 education-info">
			<education info="masterNetwork"></education>
			<p>
				The teaching of this Master program is delivered by two universities in France:
				<ul>
					<li><b>University of Bordeaux:</b> teaching units of Software Engineer</li>
					<li><b>University of Pierre and Marie Curie:</b> teaching units of Network</li>
				</ul>
				I was awarded a <b>merit-based scholarship</b> that covers 75% of tuition fees (~ 2200$).
			</p>
		</div>
	</div>
	

	<!-- BACHELOR DEGREE IN COMPUTER SCIENCE -->
	<div class="row education-info-wrapper">
		<div class="col-md-3 education-logo">
			<img src="/img/logo_upmc.png">
			<img src="/img/logo_bordeaux.svg">
		</div>
		<div class="col-md-9 education-info">
			<education info="bachelorCS"></education>
			<p>
				This program was delivered by two universities in France, at the end I received two diploma:
				<ul>
					<li><b>University of Bordeaux:</b> Diplôme Universitaire de Technologie (DUT) (2013 - 2015)</li>
					<li><b>University of Pierre and Marie Curie:</b> Bachelor degree of Computer Science (2015 - 2016)</li>
				</ul>
				I was awarded a <b>merit-based scholarship</b> that covers 100% of tuition fees during all three years (~ 2080$ each year)
			</p>
		</div>
	</div>

	<!-- HIGH SCHOOL -->
	<div class="row education-info-wrapper">
		<div class="col-md-3 education-logo">
			<img src="/img/logo_highschool_2.jpg">
		</div>
		<div class="col-md-9 education-info">
			<education info="highschool"></education>
			<p>
				I followed the bilingual program (French - Vietnamese), which strongly focused on natural science (Maths, Physics, Chemistry) in both languages.
			</p>
		</div>
	</div>
</div>