<!-- EDUCATION -->

<div class="main" ng-controller="EducationController">
	<h2 class="welcome-title">
		<i class="fa fa-graduation-cap" aria-hidden="true"></i>
		<span translate="EDU_WELCOME"> My study,</span>
	</h2>


	<!-- MASTER NETWORK AT PUF -->
	<div class="row education-info-wrapper">
		<div class="col-md-3 education-logo">
			<img src="/img/logo_upmc.png">
			<img src="/img/logo_bordeaux.svg">
		</div>
		<div class="col-md-9 education-info">
			<!--education info="masterNetwork"></education-->
			<h3 translate="EDU_MASTERPUF_DEGREE">Master</h3>
			<h4 translate="EDU_PUF_SCHOOL">French University Pole, Ho Chi Minh city, Vietnam</h4>
			<p><em>2016 - 2017</em></p>
			<p translate="EDU_MASTERPUF">
				The teaching of this Master program is delivered in English by two universities in France:
				<ul>
					<li translate="EDU_MASTERPUF_BORD">University of Bordeaux: teaching units of Software Engineer</li>
					<li translate="EDU_MASTERPUF_UPMC">University of Pierre and Marie Curie: teaching units of Network</li>
				</ul>
				<span translate="EDU_MASTERPUF_MISC">I was awarded a <b>merit-based scholarship</b> that covers 75% of tuition fees (~ 2200$).</span>
			</p>
		</div>
	</div>

	<!-- MASTER NETWORK AT PUF -->
	<div class="row education-info-wrapper">
		<div class="col-md-3 education-logo">
			<img src="/img/logo_upmc.png">
			<img src="/img/logo_bordeaux.svg">
		</div>
		<div class="col-md-9 education-info">
			<!--education info="masterNetwork"></education-->
			<h3 translate="EDU_MASTERPUF_DEGREE">Master Informatics, specialized in Network</h3>
			<h4 translate="EDU_PUF_SCHOOL">French University Pole, Ho Chi Minh city, Vietnam</h4>
			<p><em>2016 - 2017</em></p>
			<p translate="EDU_MASTERPUF">
				The teaching of this Master program is delivered in English by two universities in France:
				<ul>
					<li translate="EDU_MASTERPUF_BORD">University of Bordeaux: teaching units of Software Engineer</li>
					<li translate="EDU_MASTERPUF_UPMC">University of Pierre and Marie Curie: teaching units of Network</li>
				</ul>
				<span translate="EDU_MASTERPUF_MISC">I was awarded a <b>merit-based scholarship</b> that covers 75% of tuition fees (~ 2200$).</span>
			</p>
		</div>
	</div>
	

	<!-- BACHELOR DEGREE IN COMPUTER SCIENCE -->
	<div class="row education-info-wrapper">
		<div class="col-md-3 education-logo">
			<img src="/img/logo_upmc.png">
			<img src="/img/logo_bordeaux.svg">
		</div>
		<div class="col-md-9 education-info">
			<!--education info="bachelorCS"></education-->
			<h3 translate="EDU_BACHELORPUF_DEGREE">Bachelor of Computer Science</h3>
			<h4 translate="EDU_PUF_SCHOOL">French University Pole, Ho Chi Minh city, Vietnam</h4>
			<p><em>2013 - 2016</em></p>
			<p translate="EDU_BACHELORPUF">
				This program was delivered in French by two universities in France, at the end of the program I received two diploma:
				<ul>
					<li translate="EDU_BACHELORPUF_BORD"><b>University of Bordeaux:</b> Diplôme Universitaire de Technologie (DUT) (2013 - 2015)</li>
					<li translate="EDU_BACHELORPUF_UPMC"><b>University of Pierre and Marie Curie:</b> Bachelor degree of Computer Science (2015 - 2016)</li>
				</ul>
				<span translate="EDU_BACHELORPUF_MISC">I was awarded a <b>merit-based scholarship</b> that covers 100% of tuition fees during all three years (~ 2080$ each year)</span>
			</p>
		</div>
	</div>

	<!-- HIGH SCHOOL -->
	<div class="row education-info-wrapper">
		<div class="col-md-3 education-logo">
			<img src="/img/logo_highschool_2.jpg">
		</div>
		<div class="col-md-9 education-info">
			<!--education info="highschool"></education-->
			<h3 translate="EDU_HS_TITLE">High school diploma</h3>
			<h4 translate="EDU_HS_SCHOOL">Le Hong Phong high school, Ho Chi Minh city, Vietnam</h4>
			<p><em>2010 - 2013</em></p>
			<p translate="EDU_HS">
				I followed the bilingual program French - Vietnamese, which strongly focused on natural science (Maths, Physics, Chemistry) and extended my knowledge of French language.
			</p>
		</div>
	</div>
</div>