<!-- LANGUAGES -->

<div class="main" ng-controller="LanguagesController">
	<div class="lang-intro intro">
		<p>
			Behold the number of ways you and I can communicate! I can speak two foreign languages: English and French. I am especially excellent in Vietnamese. <span style="text-decoration: underline;">Proof</span>: it's my mother tongue. 
		</p>
	</div>

	<!--language info="en"></language>
	<language info="fr"></language>
	<language info="vn"></language-->
	
	<!-- EN -->
	<div class="row lang-info well">
		<div class="col-sm-2 col-md-2 lang-info-flag">
			<img src="img/en_flag.png">
		</div>
		<div class="col-sm-10 col-md-10 lang-info-desc">
			<h3 translate="LANG_EN">English</h3>
				<p translate="LANG_EN_DESC">
					Working proficiency: I can read, write and engage in daily communication.
					I still need to work out on my pronounciation though.
				</p>
				<p>
					<b translate="LANG_CERTIFICATE">Certificate:</b> <a href="https://drive.google.com/file/d/0BwC_983CVD2xblhSNjBjT1J4eTA/view?usp=sharing" target="_blank">IELTS 8.0</a>
				</p>
		</div>
	</div>

	<!-- FR -->
	<div class="row lang-info well">
		<div class="col-sm-2 col-md-2 lang-info-flag">
			<img src="img/fr_flag.png">
		</div>
		<div class="col-sm-10 col-md-10 lang-info-desc">
			<h3 translate="LANG_FR">French</h3>
				<p translate="LANG_FR_DESC">
					Working proficiency (still needs to improve). The truth is I feel more at easy reading and writing in French than to actually speaking it.
				</p>
				<p>
					<b translate="LANG_CERTIFICATE">Certificate:</b> <a href="https://tinyurl.com/yc3qdyeq" target="_blank">DELF B2</a>
				</p>
		</div>
	</div>

	<!-- VN -->
	<div class="row lang-info well">
		<div class="col-sm-2 col-md-2 lang-info-flag">
			<img src="img/vn_flag.png">
		</div>
		<div class="col-sm-10 col-md-10 lang-info-desc">
			<h3 translate="LANG_VN">Vietnamese</h3>
				<p translate="LANG_VN_DESC">
					Mother tongue
				</p>
				<p>
					<b translate="LANG_CERTIFICATE">Certificate:</b> Speak Vietnamese to me to find out ;-)</a>
				</p>
		</div>
	</div>
</div>