<!-- PROJECTS } -->

<div class="main" ng-controller="ProjectsController">
	<h2 class="welcome-title">
		<span translate="PROJECT_WELCOME"></span>
	</h2>
</div>

<div class="row">
	<!-- One project -->
	<div class="col-sm-1 col-md-4 project-info">
		<h3 class="project-title"><b>ConnectionLens</b><br />Finding connections in a heterogeneous dataspace</h3>
		<h4 class="project-location">INRIA Saclay</h4>
		<p class="project-content">A <a href="/docs/link-prediction-citation-network.pdf" target="_blank">link</a> here</p>
	</div>

	<!-- One project -->
	<div class="col-sm-1 col-md-4 project-info">
		<h3>Title of project</h3>
		<h4>Title of institute</h4>
		<p>Content of project</p>
	</div>

	<!-- Project -->
	<div class="col-sm-1 col-md-4 project-info">
		<h3>Title of project</h3>
		<h4>Title of institute</h4>
		<p>Content of project</p>
	</div>
</div>