<!-- PROJECTS } -->

<div class="main" ng-controller="ProjectsController">
	<div class="project-intro intro">
		<p>Here you will find the details of the projects I've been part of. Some of them are proper research projects, some others are simply school projects that I really had fun doing.</p>
	</div>

	<div class="row">
		<!-- ConnectionLens -->
		<div class="col-sm-1 col-md-4 project-item">
			<h1 class="project-title">
				ConnectionLens:<br/>
				<span style="font-size:0.85em;">Connecting the dots across heterogeneous data sources</span>
			</h1>
			<h2 class="project-location">INRIA Saclay, CEDAR team</h2>
			<h3 class="project-time">October 2017 - August 2018</h3>
			<p class="project-content"></p>
			<div>
				<span class="label label-project">research</span>
				<span class="label label-project">data integration</span>
			</div>
		</div>

		<!-- Link prediction -->
		<div class="col-sm-1 col-md-4 project-item">
			<h1 class="project-title">
				Link prediction in citation network		
			</h1>
			<h2 class="project-location">École Polytechnique</h2>
			<h3 class="project-time">March 2018</h3>
			<p class="project-content">Content
			A <a href="/docs/link-prediction-citation-network.pdf" target="_blank">link</a> here</p></p>
			<div>
				<span class="label label-project">school</span>
				<span class="label label-project">machine learning</span>
				<span class="label label-project">text mining</span>
			</div>
		</div>

		<!-- Social network analysis -->
		<div class="col-sm-1 col-md-4 project-item">
			<h1 class="project-title">
				Social network analysis (Amazon co-purchasing network)
			</h1>
			<h2 class="project-location">Télécom ParisTech</h2>
			<h3 class="project-time">January 2019</h3>
			<p class="project-content">Content</p>
			<div>
				<span class="label label-project">network science</span>
				<span class="label label-project">graph</span>
			</div>
		</div>
		
	</div>

	<div class="row">
		<!-- WSN-PN -->
		<div class="col-sm-1 col-md-4 project-item">
			<h1 class="project-title">
				Wireless Sensor Network - Petri Net (WSN-PN)
			</h1>
			<h2 class="project-location">Pôle Universitaire Français &</h2>
			<h 2class="project-location">University of Technology of Vietnam</h2>
			<h3 class="project-time">April 2016 - July 2016</h3>
			<p class="project-content">Content</p>
			<div>
				<span class="label label-project">network modeling</span>
				<span class="label label-project">research</span>
			</div>
		</div>

		<!-- Survey Project -->
		<div class="col-sm-1 col-md-4 project-item">
			<h1 class="project-title">
				Community survey in the company
			</h1>
			<h2 class="project-location">LINKBYNET Vietnam</h2>
			<h3 class="project-time">August 2015 - October 2015</h3>
			<p class="project-content">Content</p>
			<div>
				<span class="label label-project">backend</span>
			</div>
		</div>

		<!-- Project -->
		<!-- <div class="col-sm-1 col-md-4 project-item">
			<h1 class="project-title">
				Title
			</h1>
			<h2 class="project-location">Institute</h2>
			<h3 class="project-time">Time</h3>
			<p class="project-content">Content</p>
		</div> -->

		<!-- WSN-PN -->
		<!-- <div class="col-sm-1 col-md-4 project-item">
			<h1 class="project-title">
				Title
			</h1>
			<h2 class="project-location">Institute</h2>
			<h3 class="project-time">Time</h3>
			<p class="project-content">Content</p>
		</div> -->
	</div>

</div>